/*
* WPAC Like System Front-end CSS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');
.wpac-buttons-container {
    margin-top: 20px;
    margin-bottom: 20px;
}
#wpacAjaxResponse {
    display: none;
}
.wpac-btn-container {
    display: inline-block;
    width: 48%;
    margin: 0 1%;
}
.wpac-btn {
    display: flex;
    background: #f8f8f8;
    text-align: center;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
}
.wpac-btn-medium {
    display: inline-block;
    width: 48%;
    max-width: 190px;
    padding: 10px;
    font-size: 14px;
    margin: 0 1%;
    background: #f8f8f8;
    text-align: left;
    text-transform: uppercase;
    color: #444444;
    transition: 0.5s all;
    font-family: "Roboto", serif;
    position: relative;
    font-weight: bold;
}
.wpac-btn:hover {
    text-decoration: none;
    color: inherit;
}
.wpac-flat-btn .wpac-btn-icon {
    padding: 20px 30px;
    font-size: 20px;
    float: left;
    height: 100%;
}
.wpac-flat-btn .wpac-btn-label {
    margin-left: 5px;
    padding: 20px;
    font-size: 20px;
    float: left;
    height: 100%;
    text-align: center;
    flex: 1;
}
.wpac-btn-medium .wpac-btn-icon {
    padding: 10px;
}
.wpac-btn-medium .wpac-btn-label {
    margin-left: 35px;
}
.wpac-flat-btn.wpac-like-btn .wpac-btn-icon {
    background: rgb(15, 122, 69);
}
.wpac-flat-btn.wpac-dislike-btn .wpac-btn-icon {
    background-color: #ce504c;
}
.wpac-like-btn, .wpac-dislike-btn {
    color: #ffffff !important;
}
.wpac-like-btn {
    background-color: rgba(45, 143, 88, 0.8);
}
.wpac-dislike-btn {
    background-color: rgb(252, 90, 81);
}
.wpac-like-btn:hover {
    background-color: rgba(45, 143, 88, 1);
}
.wpac-dislike-btn:hover {
    background-color: rgb(224, 77, 69);
}
.wpac-ajax-response span {
    display: inline-block;
    margin: 10px;
    text-align: center;
    padding: 5px;
    width: 100%;
}
.wpac-count-stats {
    padding: 5px;
    margin-bottom: 10px;
    text-align: center;
}
.wpac-count-stats p {
    margin-bottom: 0;
    font-size: 16px;
}
.wpac-like-count-message {
    margin: 20px 1% 0 1%;
    font-size: 22px;
    text-align: center;
    width: 98%;
    display: inline-block;
    padding: 10px;
    border: 1px solid #cccccc;
}
@media all and (max-width: 768px){
    .wpac-btn-container {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
}

/* Reaction */
  .emotion-box{
    position: relative;
    width: 100%;
    display: block;
    clear: both;
    height: 32px;
  }
  
  .text-desc, [class*="reaction-"], .field-reactions, .field-reactions:checked:focus ~ .text-desc {
    clip: rect(1px, 1px, 1px, 1px);
    /* overflow: hidden; */
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* .field-reactions:focus ~ .text-desc, .box:hover [class*="reaction-"], .field-reactions:checked ~ [class*="reaction-"] {
    clip: auto;
    overflow: visible;
    opacity: 1;
  } */
  
  .main-title {
    background: #3a5795;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 16px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .text-desc {
    font-weight: normal;
    text-align: center;
    transform: translateY(-50px);
    white-space: nowrap;
    font-size: 13px;
    width: 100%;
  }
  
  [class*="reaction-"] {
    border: none;
    background-image: url(http://deividmarques.github.io/facebook-reactions-css/assets/images/facebook-reactions.png);
    background-color: transparent;
    display: block;
    cursor: pointer;
    height: 48px;
    position: absolute;
    width: 48px;
    z-index: 11;
    top: -28;
    transform-origin: 50% 100%;
    transform: scale(0.1);
    transition: all 0.3s;
    outline: none;
    will-change: transform;
    opacity: 0;
    clip: auto;
    opacity: 1;
    transform: scale(1);
  }
  
  .box {
    position: absolute;
    left: calc(50% - 150px);
    /* top: calc(50% - 50px); */
    /* top:0; */
    bottom: 0;
    width: 300px;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    visibility: hidden;
  }
  
  .field-reactions:focus ~ .label-reactions {
    border-color: rgba(88, 144, 255, 0.3);
  }
  .field-reactions:checked:focus ~ .label-reactions {
    border-color: transparent;
  }
  
  .label-reactions {
    background: url(https://cdn4.iconfinder.com/data/icons/facebook-likes/100/1.png) no-repeat 0 0;
    border: 2px dotted transparent;
    display: block;
    height: 100px;
    margin: 0 auto;
    width: 100px;
    color: transparent;
    cursor: pointer;
  }
  
  .toolbox {
    background: #fff;
    height: 52px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.15);
    width: 300px;
    border-radius: 40px;
    top: -30px;
    left: 0;
    position: absolute;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.15s;
  }
  
  .legend-reaction {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    text-overflow: ellipsis;
    font-weight: bold;
    line-height: 20px;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;
    padding: 0 6px;
    transition: opacity 50ms ease;
    left: 50%;
    position: absolute;
    text-align: center;
    top: -28px;
    transform: translateX(-50%);
  }

  .box [class*="reaction-"] {
    transform: scale(0.8) translateY(-40px);
  }
  .box:hover [class*="reaction-"]:hover, .box:hover [class*="reaction-"]:focus {
    transition: all 0.2s ease-in;
    transform: scale(1) translateY(-35px);
  }
  .box:hover [class*="reaction-"]:hover .legend-reaction, .box:hover [class*="reaction-"]:focus .legend-reaction {
    opacity: 1;
  }
 .box:hover .toolbox {
    opacity: 1;
  }
  .box:hover .toolbox {
    visibility: visible;
  } 
  .box:hover .reaction-love {
    transition-delay: 0.06s;
  }
  .box:hover .reaction-haha {
    transition-delay: 0.09s;
  }
  .box:hover .reaction-wow {
    transition-delay: 0.12s;
  }
  .box:hover .reaction-sad {
    transition-delay: 0.15s;
  }
  .box:hover .reaction-angry {
    transition-delay: 0.18s;
  }
  
  .field-reactions:checked ~ [class*="reaction-"] {
    transform: scale(0.8) translateY(-40px);
  }
  .field-reactions:checked ~ [class*="reaction-"]:hover, .field-reactions:checked ~ [class*="reaction-"]:focus {
    transition: all 0.2s ease-in;
    transform: scale(1) translateY(-35px);
  }
  .field-reactions:checked ~ [class*="reaction-"]:hover .legend-reaction, .field-reactions:checked ~ [class*="reaction-"]:focus .legend-reaction {
    opacity: 1;
  }
  .field-reactions:checked ~ .toolbox {
    opacity: 1;
  }
  .field-reactions:checked ~ .toolbox,
  .field-reactions:checked ~ .overlay {
    visibility: visible;
  }
  .field-reactions:checked ~ .reaction-love {
    transition-delay: 0.03s;
  }
  .field-reactions:checked ~ .reaction-haha {
    transition-delay: 0.09s;
  }
  .field-reactions:checked ~ .reaction-wow {
    transition-delay: 0.12s;
  }
  .field-reactions:checked ~ .reaction-sad {
    transition-delay: 0.15s;
  }
  .field-reactions:checked ~ .reaction-angry {
    transition-delay: 0.18s;
  }
  
  .reaction-like {
    left: 0;
    background-position: 0 -144px;
  }
  
  .reaction-love {
    background-position: -48px 0;
    left: 50px;
  }
  
  .reaction-haha {
    background-position: -96px 0;
    left: 100px;
  }
  
  .reaction-wow {
    background-position: -144px 0;
    left: 150px;
  }
  
  .reaction-sad {
    background-position: -192px 0;
    left: 200px;
  }
  
  .reaction-angry {
    background-position: -240px 0;
    left: 250px;
  }
  